# This is the Docker Compose file for the  example's main service.
# You can make yours as simple or as complex as you need. Hyperdrive doesn't interact with these directly, other than starting and stopping them.

services:
  example:
    image: {{.GetValue "server/containerTag"}} # The image tag is a value in the module's config
    container_name: {{.ModuleComposeProject}}_example # Container names are provided by Hyperdrive to handle conflicts 
    restart: unless-stopped
    ports:
      - "127.0.0.1:{{.GetValue "server/port"}}:{{.GetValue "server/port"}}/tcp" # Restricted to localhost outside of Docker
    volumes:
      - {{.ModuleConfigDir}}:{{.ModuleConfigDir}}:ro # The module's config directory
      - {{.ModuleLogDir}}:{{.ModuleLogDir}} # The module's log directory
    command:
      - "--config-file"
      - "{{.ModuleConfigDir}}/service-cfg.yaml" # The module's config directory
      - "--log-dir"
      - "{{.ModuleLogDir}}" # The module's log directory
      - --ip
      - "0.0.0.0" # Open to all Docker traffic
      - --port
      - "{{.GetValue "server/port"}}" # The port the module's server will listen on
    networks:
      - {{.ModuleNetwork}}
    cap_drop:
      - all # The container will run as root but this will drop all capabilities it doesn't need
    cap_add:
      - dac_override # Needed to access files owned by the user instead of root
    security_opt:
      - no-new-privileges
networks:
  {{.ModuleNetwork}}:
    external: true
