# This is the Docker Compose file for the example module's adapter.
# You can make yours as simple or as complex as you need, as long as you follow the adapter specification.

services:
  adapter:
    image: nodeset/hyperdrive-example:v0.2.0
    container_name: {{.AdapterContainerName}}
    restart: unless-stopped
    entrypoint: /usr/bin/hd-adapter # This is the path to the adapter binary
    environment:
    {{- range $var := .AdapterEnvironmentVariables}}
      - {{$var}}
    {{- end}}
    volumes:
    {{- range $vol := .AdapterVolumes}}
      - {{$vol}}
    {{- end}}
    {{- if .ModuleNetwork}}
    networks:
      - {{.ModuleNetwork}}
    {{- end}}
    cap_drop:
      - all
    cap_add:
      - dac_override
    security_opt:
      - no-new-privileges
{{- if .ModuleNetwork}}
networks:
  {{.ModuleNetwork}}:
{{- end}}