# This is the Docker Compose file for the example module's adapter.
# You can make yours as simple or as complex as you need, as long as you follow the adapter specification.

services:
  {{.GetContainerName em_adapter}}:
    image: nodeset/hyperdrive-example:v0.2.0
    restart: unless-stopped
    entrypoint: /usr/bin/hd-adapter -s {{.ModuleSecretFile}} # This is the path to the adapter binary
    environment:
      - HD_PROJECT_NAME={{.GetProjectName}}
    volumes:
      - {{.ModuleConfigDir}}:/hd/config
      - {{.ModuleLogDir}}:/hd/logs
    cap_drop:
      - all
    cap_add:
      - dac_override
    security_opt:
      - no-new-privileges